<h1>Recipes#index</h1>
<h2>Recipes for <%= @keyword %></h2>

<table border = '1'>
  <tr>
    <th>Picture</th>
    <th>Title</th>
    <th>Ingredients</th>
  </tr>
  <% @recipe_list.each do |recipe| %>
    <tr>
      <td><%= recipe["href"] %></td>
      <td><%= recipe["title"] %></td>
      <td><%= recipe["ingredients"] %></td>
    </tr>
  <%end%>
</table>